<!DOCTYPE html>
	<html>
		<div>
			<head>
				<title>{{ page.title }}</title>
				<!-- link to main stylesheet -->
				<link rel="stylesheet" type="text/css" href="/css/main.css">
				<meta name="description" content="The professional website of Lucas Busta, Ph. D."/>
				<meta keywords="lucas busta, luke busta, chemistry, phytochemistry, plant chemistry, science"/>
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			</head>
			
			<body>
				<a href="http://lucasbusta.github.io/"><img src="/logojoin.png" width="500" class="logo"></a>		
				<nav>
					<ul>
						<li>{</li>
						<li><a href="/research">research</a></li>
						<li><a href="/publications">publications</a></li>
						<li><a href="/cv">cv</a></li>
						<li><a href="/resources">resources</a></li>
						<li><a href="https://plantsarechemists.blogspot.ca/" target="_blank">phytochemistry blog</a></li>
						<li><a href="https://twitter.com/PlantsRChemists" target="_blank">@PlantsRChemists</a>
						<li><a href="https://www.linkedin.com/in/lucas-busta-a0a788b9/" target="_blank">linkedin</a>
						<li>}</li>
					</ul>
				</nav>			
			
			{{ content }}
			
				<div>
<!-- 					<footer>
						<ul>
							<li><a href="/">home</a></li>
							<li><a href="/research">research</a></li>
							<li><a href="/publications">publications</a></li>
							<li><a href="/cv">cv</a></li>
							<li><a href="/resources">resources</a></li>
							<li><a href="https://plantsarechemists.blogspot.ca/" target="_blank">phytochemistry blog</a></li>
							<li><a href="http://www.psna-online.org/" target="_blank">Phytochem. Soc. of N. America</a></li>
						</ul>
					</footer> -->
				</div>
			</body>
		</div>
	</html>
