<!DOCTYPE html>
	<html>
	<div id="wrapper" style="margin:0 auto;">    
		<div>
			<head>
				<title>{{ page.title }}</title>
				<!-- link to main stylesheet -->
				<link rel="stylesheet" type="text/css" href="/css/main.css">
				<meta name="description" content="The professional website of Lucas Busta, Ph. D."/>
				<meta keywords="luke busta, lucas busta, chemistry, phytochemistry, plant chemistry, science"/>
			</head>
			
			<body>
				<img src="logojoin.png" width="250">		
				<nav>
					<ul>
						<li><a href="/">home</a></li>
						<li><a href="/research">research</a></li>
						<li><a href="/publications">publications</a></li>
						<li><a href="/cv">cv</a></li>
						<li><a href="/resources">resources</a></li>
						<li><a href="https://plantsarechemists.blogspot.ca/" target="_blank">phytochemistry blog</a></li>
					</ul>
				</nav>			
			
			{{ content }}
			
				<div>
					<footer>
						<ul>
							<li><a href="/">home</a></li>
							<li><a href="/research">research</a></li>
							<li><a href="/publications">publications</a></li>
							<li><a href="/cv">cv</a></li>
							<li><a href="/resources">resources</a></li>
							<li><a href="https://plantsarechemists.blogspot.ca/" target="_blank">phytochemistry blog</a></li>
							<li><a href="http://www.psna-online.org/" target="_blank">Phytochem. Soc. of N. America</a></li>
							<li><a href="https://twitter.com/PlantsRChemists" target="_blank"><img width=10 src="twitter.png" /></a>
						</ul>
					</footer>
				</div>
			</body>
		</div>
	</div>
	</html>
